<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.agent.mapper.AiSubagentMapper">


    <select id="subAgentList" resultType="com.zw.agent.entity.DTO.SubagentHeaderDTO" parameterType="Long">
        SELECT
        sa.*,
        hh.header_name,
        hh.header_value
        FROM
        ai_subagent sa
        LEFT JOIN ai_subagent_agent_binding sab ON sa.id = sab.subagent_id
        LEFT JOIN ai_http_header hh ON hh.source_id = sa.id
        WHERE
        sab.agent_id = #{agentId}
        AND hh.source = "subAgent"
    </select>
</mapper>
