<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.agent.mapper.AiSubagentMapper">


    <select id="subAgentList" resultType="com.zw.agent.entity.AiSubagentEntity" parameterType="Long">
        SELECT
            sa.*,
            am.model_name
        FROM
            ai_subagent sa
                LEFT JOIN ai_subagent_agent_binding sab ON sa.id = sab.agent_id
                LEFT JOIN ai_agent a ON sab.agent_id = a.id
                LEFT JOIN ai_agent_model am ON am.agent_id = a.id
        WHERE
            a.id = #{agentId}
    </select>
</mapper>
