<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.agent.mapper.AiToolInfoConfigMapper">

    <select id="getToolByTenantBeans" resultType="String" parameterType="Long">
        SELECT tic.bean_name
        FROM ai_tool_info_config  tic
        WHERE tic.tenant_id = #{tenantId}
    </select>

    <insert id="upsertBatch">
        INSERT INTO ai_tool_info_config (
        id,
        permission_code,
        read_only,
        concurrency,
        state_injected,
        tool_key,
        tool_name,
        tool_name_explain,
        tool_type,
        bean_name,
        class_name,
        method_name,
        description,
        input_schema,
        output_schema,
        signature_hash,
        risk_level,
        timeout_ms,
        max_retries,
        default_group_code,
        enabled,
        updated_at,
        created_at,
        tenant_id
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.permissionCode},
            #{item.readOnly},
            #{item.concurrency},
            #{item.stateInjected},
            #{item.toolKey},
            #{item.toolName},
            #{item.toolNameExplain},
            #{item.toolType},
            #{item.beanName},
            #{item.className},
            #{item.methodName},
            #{item.description},
            #{item.inputSchema},
            #{item.outputSchema},
            #{item.signatureHash},
            #{item.riskLevel},
            #{item.timeoutMs},
            #{item.maxRetries},
            #{item.defaultGroupCode},
            1,
            NOW(),
            NOW(),
            #{item.tenantId}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        permission_code = VALUES(permission_code),
        read_only = IF(NOT (signature_hash &lt;=&gt; VALUES(signature_hash)), VALUES(read_only), read_only),
        concurrency = IF(NOT (signature_hash &lt;=&gt; VALUES(signature_hash)), VALUES(concurrency), concurrency),
        state_injected = IF(NOT (signature_hash &lt;=&gt; VALUES(signature_hash)), VALUES(state_injected), state_injected),
        tool_name = IF(NOT (signature_hash &lt;=&gt; VALUES(signature_hash)), VALUES(tool_name), tool_name),
        tool_name_explain = IF(NOT (signature_hash &lt;=&gt; VALUES(signature_hash)), VALUES(tool_name_explain), tool_name_explain),
        tool_type = VALUES(tool_type),
        bean_name = VALUES(bean_name),
        class_name = VALUES(class_name),
        method_name = VALUES(method_name),
        description = IF(NOT (signature_hash &lt;=&gt; VALUES(signature_hash)), VALUES(description), description),
        input_schema = VALUES(input_schema),
        output_schema = VALUES(output_schema),
        risk_level = VALUES(risk_level),
        timeout_ms = VALUES(timeout_ms),
        max_retries = VALUES(max_retries),
        default_group_code = VALUES(default_group_code),
        updated_at = IF(NOT (signature_hash &lt;=&gt; VALUES(signature_hash)), NOW(), updated_at),
        signature_hash = VALUES(signature_hash)
    </insert>
</mapper>
